html  {
  background-color: #e8d6fd;
}

.narrowwidth {
  width: 584px;
}

h1 {
  font-weight: normal;
  font-size: 5rem;
  font-style: italic; /* normal, italic */
  font-family: 'Bevan', cursive;
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
  line-height: 2;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
  font-style: bold; /* normal, bold */
  font-family: 'Bevan', cursive;

}

.planet {
  color: #390e6e;
}
blockquote {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic; /* normal, italic */

}

.name {
  text-align: right;
  font-size: 1rem;
  font-style: italic; /* normal, italic */
  color: grey;
}

ul {
  list-style-type: lower-roman;
  padding: 1;
  line-height: 2;
}

figcaption {
  align: center;
  font-size: 1rem;
  font-style: italic; /* normal, italic */
  text-indent: 50px;
}


dl {
  list-style-type: none;
  padding: 0;
  line-height: 1;
}

data {
  list-style-type: none;
  padding: 0;
  line-height: 1;
}
p {
  text-indent: 50px;
}

.cite {
  style-type: circle;
}

a:hover {
  color: white;
}
