html  {
  background-color: #e8d6fd;
}

h1 {
  font-weight: normal;
  font-size: 5rem;
  font-style: italic; /* normal, italic */
  font-family: 'Lobster', cursive;
}

ol {
  list-style-type: none;
  padding: 0;
  line-height: 2;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
  font-style: bold; /* normal, bold */
  font-family: 'Montserrat', sans-serif;

}

.planet {
  color: #390e6e;
}
blockquote {
  text-align: center;
  font-size: 2rem;
  font-style: italic; /* normal, italic */

}

.name {
  text-align: left;
  font-size: 1rem;
  font-style: italic; /* normal, italic */
  font-color: gray;
}

a:hover {
  color: white;
}
